* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #0fa3b1;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1000;
  padding: 10px;
}

.nav_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_image {
  height: 80px;
  max-width: 100%;
}

.naviList {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.list_items {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.list_items > li > a {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list_items > li > a:hover {
  color: #ffeb3b;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.hero {
  margin: 10px 20px;
  padding: 20px;
  height: auto;
  border-radius: 40px;
  background: url(./assets/food.jpg) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_text > h1 {
  font-size: 70px;
  color: white;
  text-align: center;
}

/* Food Cards Styles */
.food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  /* background-color: whitesmoke; */
  padding: 20px;
}

.cards {
  flex: 1 1 300px; /* Grow, shrink, basis */
  max-width: 300px;
  box-shadow: 7px 7px #f8f9fa;
  border-radius: 10px;
}

.food-Image {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.cards:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

h2 {
  text-align: center;
  font-size: 40px;
}

.food-names {
  text-align: center;
  font-size: auto;
}
.price {
  text-align: center;
  font-size: 20px;
}

.zahlen {
  margin: 10px 0;
  width: 100%;
  height: 250px;
  background-color: #f8f9fa;
}

#aboutZahlen {
  text-align: center;
  font-size: 30px;
}
.kontakt {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: bold;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav_bar {
    flex-direction: column;
  }

  .list_items {
    flex-direction: column;
    gap: 10px;
  }

  .list_items > li > a {
    font-size: 16px;
  }

  .hero_text > h1 {
    font-size: 40px;
  }

  .hero {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
  }

  .cards {
    flex: 1 1 100%;
    max-width: none;
  }
  .food-Image {
    height: auto;
  }
}
